<%= form_for :contact_message, html: {class: "contact100-form validate-form", id: "new_contact"} do |f| %>
  <span class="contact100-form-title">
    Send Us A Message
  </span>
  <span class='response_message'></span>
  <label class="label-input100" for="first-name">TELL US YOUR NAME *</label>
  <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Type first name">
    <%= f.text_field :first_name, class: "input100", placeholder: 'First name' %>
    <span class="focus-input100"></span>
  </div>
  <div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type last name">
    <%= f.text_field :last_name, class: "input100", placeholder: 'Last name' %>
    <span class="focus-input100"></span>
  </div>

  <label class="label-input100" for="email">ENTER YOUR EMAIL *</label>
  <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
    <%= f.text_field :email, class: "input100", placeholder: 'Eg. example@email.com' %>
    <span class="focus-input100"></span>
  </div>

  <label class="label-input100" for="phone">ENTER PHONE NUMBER</label>
  <div class="wrap-input100">
    <%= f.text_field :phone, class: "input100", placeholder: 'Eg. +1 800 000000' %>
    <span class="focus-input100"></span>
  </div>

  <label class="label-input100" for="message">MESSAGE *</label>
  <div class="wrap-input100 validate-input" data-validate = "Message is required">
    <%= f.text_area :message, class: "input100", placeholder: 'Write us a message' %>
    <span class="focus-input100"></span>
  </div>

  <div class="container-contact100-form-btn">
    <%= f.submit "SEND MESSAGE", class: "contact100-form-btn", data: { disable_with: false } %>
  </div>
<% end %>
<%= render 'contact_message_info' %>
